<% provide(:title, 'update') %> <h1>Sign up</h1>
<div class="row">
<div class="col-md-4 col-md-push-4">
<%= form_for(@user) do |f| %>
<div class="input-group input-group-lg">
  <span class="input-group-addon" id="sizing-addon1">@</span>
  
  <%= f.text_field :name, class:"form-control", placeholder:"Username" %>
</div>

<div class="input-group input-group-lg">
  <span class="input-group-addon" id="sizing-addon1">@</span>
  <%= f.email_field :email, class:"form-control", placeholder:"Email" %>
</div>

<div class="input-group input-group-lg">
  <span class="input-group-addon" id="sizing-addon1">@</span>
  <%= f.password_field :password, class:"form-control", placeholder:"Password" %>
</div>

<div class="input-group input-group-lg">
  <span class="input-group-addon" id="sizing-addon1">@</span>
  <%= f.password_field :password_confirmation, class:"form-control", placeholder:"password_confirmation" %>
</div>
<%= f.submit "Save changes", class: "btn btn-primary" %>
<% end %> 

<div class="gravatar_edit">
<%= gravatar_for @user %>
<a href="http://gravatar.com/emails" target="_blank">change</a> </div>

</div>
</div>